
body{
    background-color: black;
}
#container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto;
    gap: 20px;
}
#title{
    color: white;
    font-weight: bolder;
}
#year{
    font-size: medium;
    font-weight: normal;
    color: white;

}
#not-found{
    display: flex;
    justify-content: center;
}
#movieDetailsBox{
   border: 1px solid yellow;
   background-color: rgb(178, 185, 185);
   width: 25%;
   margin-top: -344px;
   margin-left: 400px;
   gap: 14px;
}